/public
/node_modules
/resources
.hugo_build.lock
resources/_gen/assets/scss/scss/main.scss_d3f48eb806584c2aa805aa5006203e34.content
resources/_gen/assets/scss/scss/main.scss_d3f48eb806584c2aa805aa5006203e34.content
# Local Netlify folder
.netlify
.vercel
